<header class="app-header navbar">
  <button class="navbar-toggler d-lg-none" type="button" appMobileSidebarToggler>&#9776;</button>
  <a class="navbar-brand" href="#"></a>
  <ul class="nav navbar-nav mr-auto d-md-down-none">
    <li class="nav-item">
      <a class="nav-link navbar-toggler" href="#" appSidebarToggler>&#9776;</a>
    </li>
  </ul>
   <div class="block">
     <p class="float-left pt-2" *ngIf="userType && userType" >{{userType}} ({{userName}})</p>
    <a class="btn float-right" (click)="logout()" ><span class="icon-logout pt-1 pr-3"></span></a>
  </div>
</header>

<div class="app-body">
  <div class="sidebar">
    <nav class="sidebar-nav">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" (click)="dboard($event)" [routerLink]="['/dashboard']"><i class="icon-speedometer"></i> Dashboard </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="userType.includes('Agent')" routerLinkActive="active" [routerLink]="['/components/agent']"><i class="icon-people"></i> Agent </a>
          <a class="nav-link" *ngIf="userType.includes('Member')" routerLinkActive="active" [routerLink]="['/components/member']"><i class="icon-people"></i> Member </a>
          <a class="nav-link" *ngIf="userType.includes('Owner')" routerLinkActive="active" [routerLink]="['/components/owner']"><i class="icon-people"></i> Owner </a>
         
        </li>
      </ul>
    </nav>
  </div>

  <!-- Main content -->
  <main class="main">

    <!-- Breadcrumb -->
    <ol class="breadcrumb">
      <app-breadcrumbs></app-breadcrumbs>
    </ol>

    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div><!-- /.conainer-fluid -->
  </main>
</div>

<footer class="app-footer">
  <div  style="float: right;"> 
      <a href="http://d-bz.com/">D-Biz Pvt Ltd</a> &copy; 2018
  </div>
</footer>
